[submodule "3rd-parties/transclusion-minor-mode"]
	path = 3rd-parties/transclusion-minor-mode
	url = https://github.com/whacked/transclusion-minor-mode.git
[submodule "3rd-parties/auto-dark-emacs"]
	path = 3rd-parties/auto-dark-emacs
	url = https://github.com/LionyxML/auto-dark-emacs.git
[submodule "3rd-parties/alerter"]
	path = 3rd-parties/alerter
	url = https://github.com/vjeantet/alerter.git
[submodule "3rd-parties/jieba.el"]
	path = 3rd-parties/jieba.el
	url = https://github.com/cireu/jieba.el.git
