elpa
auto-save-list
*~
savehist
backup

emojis/
eshell/
smex-items
transient/
tutorial/
var/
emacs-config.el
emacs-config.elc
emacs-config.html

.DS_Store
.org-id-locations
pyim/
quelpa/
recentf
tramp
fonts/
image-dired/
eln-cache/
org-caldav-*.el
org-caldav-*.org
org-roam.db
projectile-bookmarks.eld
url/
