elpa
auto-save-list
*~
savehist
backup

emojis/
eshell/
smex-items
transient/
tutorial/
var/
emacs-config.el
emacs-config.elc
emacs-config.html
elpaca/

.DS_Store
.org-id-locations
pyim/
quelpa/
recentf
tramp
fonts/
image-dired/
eln-cache/
org-caldav-*.el
org-caldav-*.org
org-roam.db
projectile-bookmarks.eld
url/

.cache
.dap-breakpoints
.lsp-session-v1
straight
games
/xkcd/
/bookmarks
/netease-cloud-music/
/request/
/amx-items
/projects
/eaf/
/forge-database.sqlite
/.cask/
/.mc-lists.el
/xenops/
/multisession/
/init-lisp/
/customs.el
/ebib-filters
/forge-database-v9-20231207-2000.sqlite
/librime
/site-lisp/emacs-application-framework
/tabsession.el
/tree-sitter
/elgrep-data.el
/modules/
/places
.aider*
.env
/.tags
/.ctags.d/
/config-frags.d/*.elc
